@import url('https://fonts.googleapis.com/css?family=Poiret+One|Unica+One');

/*----- BASE STYLES -----*/

*	{
	box-sizing: border-box;
}

body	{
	margin: 0 auto;
	padding: 0;
	line-height: 1.5;
	font-family: 'Unica One', sans-serif;
	font-size: 1.2em;
	width: 100%;
}

h1	{
	text-align: center;
	font-family: 'Unica One', sans-serif;
}

a	{
	color: rgba(130,30,0, 1);
	text-decoration: none;
	transition: all .5s;
}

a:hover,
a:focus,
a:active	{
	color: #8aa;
}



/*----- HEADER -----*/

header	{
	background-image: url('../img/background2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	margin: auto;
	position: relative;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#avatar	{
	width: 100%;
	max-width: 170px;
	display: block;
	padding: 6px;
	margin: 20px auto;
	border-radius: 50%;
	background: #fff;
	transition: max-width .5s;
}

header div	{
	background-color: rgba(0,0,0, .3);
	width: 100%;
	margin: 0;
	padding: 0;
}

.name	{
	border-bottom: 2px solid #fff;
	padding-bottom: 30px;
	width: 100%;
	max-width: 240px;
	margin: 0 auto;
}

.name,
.job-title	{
	font-family: 'Poiret One', sans-serif;
	text-align: center;
	letter-spacing: 1px;
}



/*----- MAIN NAV -----*/

nav	{
	margin: auto;
}

nav ul	{
	padding: 0;
	margin: 0 auto;
	width: 100%;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

nav ul a	{
	padding: .5em .8em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background: rgba(60,0,0, .75);
	transition: all .5s;
}

nav ul a:hover,
nav ul a:focus,
nav ul a:active	{
	background: rgba(130,30,0, 1);
	color: #fff;
}


/*----- ABOUT -----*/

#about	{
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.freelance-info	{
	background: #235;
	margin: 0 auto;
}

.freelance-info p	{
	color: #fff;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.freelance-info p:first-child	{
	background: #000;
	max-width: 320px;
}

.ethos	{
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 6px;
	font-size: 1.3em;
}

#about div	{
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	font-size: 1.2em;
}

.skills	{
	background: #8ef;
}

.skills ul	{
	list-style: none;
}


/*----- PROJECTS -----*/

main > h1	{
	padding-top: 60px;
}

#projects ul	{
	width: 100%;
	list-style: none;
	margin: auto;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#projects ul li	{
	position: relative;
	flex: 1 280px;
	align-self: flex-end;
	width: 100%;
	max-width: 380px;
	margin: 5px;
	text-align: center;
}

.p-img	{
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
	padding: 8px;
	background-color: #fff;
	z-index: 0;
}

#p-name	{
	margin-bottom: 0;
}


/*overlay*/

.overlay-cont	{
	position: relative;
	margin: 0 auto;
	padding: 0;
}

#img-overlay	{
	position: absolute;
	margin: 0 auto;
	padding: 15px;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: #fff;
	letter-spacing: 2px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	transition: background-color .5s;
	z-index: 1000;
}

.overlay-cont:hover #img-overlay,
.overlay-cont:focus #img-overlay	{
	visibility: visible;
	background-color: rgba(0,0,0, .8);
}


/********************/

#button	{
	background: rgb(60,0,0);
	color: #fff;
	margin: 8px auto;
	padding: 10px 20px;
	width: 100%;
	max-width: 250px;
	border: none;
	transition: all .5s;
	z-index: 100;
}

#button:hover,
#button:focus,
#button:active	{
	border: 1px solid black;
	cursor: pointer;
	background: #fff;
	color: #000;
	transform: scale(1.05);
}


/*Vex MODAL POPUP*/

.vex.vex-theme-os	{
	padding-top: 30px;
}

.modal-popup	{
	position: relative;
	margin: 0 auto;
	padding: 10px 10px 0 10px;
}

.vex-dialog-buttons	{
	margin: 0 auto;
	padding: 0;
	display: flex;
	padding-bottom: 30px;
}

.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-primary,
.modal-popup p > a[href*="projects"]	{
	font-family: 'Unica One', sans-serif;
	font-size: 1.35rem;
	color: #fff;
	padding: 8px 15px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	max-width: 170px;
	display: block;
	background: rgb(60,0,0);
	border: none;
	line-height: 1.4;
	transition: all .5s;
}

.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-primary:hover	{
	background: #fff;
	border: 1px solid #000;
	color: #000;
	transform: scale(1.03);
}

.modal-popup p > a[href*="projects"]:hover,
.modal-popup p > a[href*="projects"]:focus,
.modal-popup p > a[href*="projects"]:active	{
	background: #fff;
	border: 1px solid #000;
	color: #000;
	transform: scale(1.03);
}

.vex.vex-theme-os .vex-content h1, 
.vex .vex-theme-os .vex-content li	{
	color: #555;
	line-height: 1.2;
}

.vex.vex-theme-os .vex-content	{
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.vex-overlay	{
	background: rgba(0,20,40, .65);
}


/*----- FOOTER -----*/

footer	{
	background: #000;
	color: #fff;
	margin: 60px auto 0 auto;
}

.f-container	{
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
	padding: 10px 15px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.f-container div	{
	align-self: center;
}

.copyright	{
	font-size: 2em;
}

.s-media	{
	align-self: flex-end;
	background: #fff;
	color: #000;
	margin: 0 auto;
	padding: 10px;
}

.s-media p	{
	margin: 0;
}

.s-media img	{
	width: 63px;
	margin: 20px;
}


/*----- CONTACT -----*/


#contact	{
	margin: 10px auto;
}

#contact ul	{
	margin: 0 auto;
	padding: 10px;
	text-align: left;
	list-style: none;
}


/*----- TO TOP ARROW -----*/

.to-top	{
	position: relative;
	height: 45px;
	margin: 0 auto;
}

.to-top span	{
	background-color: #333;
	position: fixed;
	right: 80%;
	bottom: 0;
	text-align: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	font-family: sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
	margin-bottom: 8px;
}


/*----- MEDIA QUERIES -----*/

@media (min-width: 560px)	{
	
	#avatar	{
		max-width: 250px;
	}
	
	nav ul a	{
		margin: 0 1.2em;
		padding: 1em;
		font-size: 1.2em;
	}
	
	
	/*ABOUT*/
	
	#about	{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		max-width: 1200px;
	}
	
	#about div	{
		flex: 1;
		max-width: 400px;
	}
}